@using Framework.Report
@model PointEx.Web.Models.ReportFiltersModel
@{
    ViewBag.Title = "Premios mas Canjeados";
}

<h3>Premios mas Canjeados</h3>

<div>
    @Html.Partial("_DownloadButtons")

    @Html.FilterButton()
</div>

<div class="spacer">
</div>

@Html.Partial("_Filters")

@Html.Partial("_ReportBox")