@using Framework.Report
@model PointEx.Web.Models.ReportFiltersModel
@{
    ViewBag.Title = "Beneficios mas Usados";
}

@section banner{
    <img src="/Content/images/banner-reportes.jpg" width="100%" alt="Beneficios" /><br /><br />
}

<h3>Beneficios más usados</h3>

<div>
    @Html.Partial("_DownloadButtons")

    @Html.FilterButton()
</div>

<div class="spacer">
</div>

@Html.Partial("_Filters")

@Html.Partial("_ReportBox")