body {
    padding-top: 50px !important;
}

.nav-bar-beneficiary {
    background-color: cadetblue;
}

.menu-superior-container {
    width: 100%;

    .menu {
        width: 65%;
        padding: 10px;
        float: left;

        ul li {
            display: inline;
            padding: 10px;
            font-weight: bold;
            font-size: 110%;

            a {
                color: white;
            }
        }
    }

    .buscador {
        padding: 10px;
        float: right;
        width: 35%;
        height: 51px;
    }
}

.layout-container {
    display: table;
    width: 100%;

    tr td {
        vertical-align: top;
    }

    .td-menu-lateral {
        background-color: beige;
        width: 300px;
    }

    .menulateral {
        width: 100%;
        padding: 20px;

        .nombre {
            font-size: 120%;
            color: blueviolet;
            font-weight: bold;
        }

        .tus-puntos {
            font-size: 105%;
            color: darkcyan;
            font-weight: bold;
        }

        .item {
            margin-bottom: 15px;
        }
    }

    .layout-body {
        width: 100%;
        padding: 10px 20px;
    }
}

.green {
    color: yellowgreen;
    font-weight: bold;
}

.red {
    color: red;
    font-weight: bold;
}
