@model decimal?
@{
    var currency = Model == 0 || !Model.HasValue ? string.Empty : Model.GetValueOrDefault().ToString("n2");
}
<div class="input-group col-xs-3">
    @Html.TextBox("", currency, new { @class = "form-control autonumeric", data_a_sep = "" , data_a_dec="," })
</div>
