body {
    /*font-family: pt sans narrow;*/
}

.public.navbar-nav li:hover {
  background-color: green;
  filter: alpha(opacity=70);
  opacity: 0.7;
}

.public.navbar-nav li a {
    filter: alpha(opacity=1);
    opacity: 1;
}

.public.navbar-nav li a:hover {
    color: white;
    font-weight: bold;
    filter: alpha(opacity=1);
    opacity: 1;
}


.btn-primary {
  color: #fff;
  background-color: #05C51A !important;
    border: 1px solid #05C51A !important;
}
a.btn-primary:hover {
  background-color: #62AB44 !important;
}

a {
    color: #62AB44;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #81BB27;
  border-color: #81BB27;
}
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
  color: #62AB44;
  background-color: #eee;
  border-color: #ddd;
}

.navbar-inverse {
  background-color: #62AB44;
  border-color: #62AB44;
    color: white !important;
}


.navbar-inverse .navbar-nav li:hover {
  background-color: green;
}

.navbar-inverse .navbar-brand {
    color: white;
}

.navbar-inverse .navbar-nav li a {
    filter: alpha(opacity=1);
    opacity: 1;
    color: white;
}

.navbar-inverse .navbar-nav li a:hover {
    color: white;
    font-weight: bold;
    filter: alpha(opacity=1);
    opacity: 1;
}


.navbar-nav .dropdown-menu {
    background-color: #1D8D14;
}

.navbar-nav .dropdown-menu li:hover, .navbar-nav .dropdown-menu li a:hover {
    background-color: #62AB44 !important;
}

#wrapper {
    /*background: url(/Content/themes/TekovePoti/images/back-gradient.jpg) repeat-x !important;*/
    /*background-color: #E6D8D8 !important;*/
}

#wrapper .container {
    background-color: #FFF;
    background-image: url(/Content/themes/TekovePoti/images/background-img.jpg);
}


/* Header */
.pointex-header {
    background-color: #7CA23D;
}

footer {
    color: #FFF;
}

footer h3 {
    margin-bottom: 30px;
}

footer .footer-above {
    padding-top: 20px;
    background-color: #FFD902;
}

footer .footer-col {
    margin-bottom: 20px;
}

footer .footer-below {
    padding: 25px 0;
    background-color: #7CA23D;
}

footer a:hover {
    color: #ccc;
}

.sub-title {
    background-color: #D41903;
    color: #FFF;
    padding: 5px 5px 5px 15px;
}

h4.benefit-type-info,
h1.benefit-type-info-detail {
    color: #6E31AA;
}

.btn-primary {
    color: #fff;
    background-color: #7CA23D!important;
    border: 1px solid #7CA23D!important;
}

.navbar-inverse {
    background-color: #7CA23D;
    border-color: #7CA23D;
    color: white !important;
}