@using PointEx.Security
@using PointEx.Web.Models


<div class="menulateral">
    <div class="buscador">
        @Html.Partial("_SearchPrizes", model: new PrizeListFiltersModel())
    </div>
    <div class="item">
        Hola <br/>
        <div class="nombre">
            @PointExContext.Beneficiary.Name
        </div>
    </div>
    <div class="item">
        Tus Puntos:
        <div class="tus-puntos">
            @PointExContext.Beneficiary.Points
        </div>
    </div>


    <a href="/Beneficiary/Profile/History">Ver Detalle</a>
</div>
