.prize-description {
    word-wrap: break-word;
}

.prize-link {
    margin-top: 0;
}

a.prize-image img {
    border: 2px solid thistle;
}

#prize-search .select2-container {
   display: inline-block; 
   max-width: 280px; 
}

#prize-search .select2-hidden-accessible {
    position: absolute;
}