.benefit-description {
    word-wrap: break-word;
	text-overflow: ellipsis;
}

.benefit-type-info-detail {
    color: #FB362D;
    margin-top: 16px;
    font-weight: bold;
}

.benefit-name-detail {
    color: #000;
    font-weight: bold;
}
