@{
    ViewBag.Title = "¿COMO FUNCIONA?";
}
<div>
    <h3>
        QUE ES?<strong></strong><br>
    </h3>
    <p>
        La Tarjeta Verde Corrientes es un beneficio del Gobierno de la Provincia de Corrientes dirigido a jóvenes estudiantes mayores de 15 años, para promover el acceso a varios bienes y servicios en variados rubros.
    </p>
    <p>
        La Tarjeta Verde otorga protagonismo a los jóvenes proporcionando herramientas de acceso a bienes y servicios para la recreación, participación, creatividad y esparcimiento.
    </p>
    <h3>
        COMO USARLA?<strong></strong><br>
    </h3>
    <p>
        Elegí el beneficio y pedilo en los comercios adheridos antes de efectuar el ticket o factura del servicio solicitado.
    </p>
    <p>
        Con cada compra que realices deberás presentar tu DNI.
    </p>
    <p>
        En esta Pagina figuran todos los beneficios vigentes en toda la provincia de Corrientes.
    </p>
    <p>
        Si querés recibir información por mail, suscribite newsletter mandando un mail que diga ALTA en el asunto, tarjetaverde..gmail.com
    </p>
    <p>
        Además todos los municipios que participan de la TARJETA VERDE tienen a disposición información sobre los beneficios y promociones que tiene dicha tarjeta en cada localidad.
    </p>

    <h3>
        USUARIOS<strong></strong><br>
    </h3>
    <p>
        Con la Tarjeta Verde tendrás acceso a diferentes tipos de beneficios y descuentos en comercios, instituciones, eventos culturales, deportivos, etc. La Tarjeta Verde es exclusiva para jóvenes estudiantes mayores de 15 años de la Provincia.
    </p>
    <p>
        Actualmente, la Dirección de Juventud provincial busca expandir los beneficios a nuestros jóvenes de toda la provincia, a través de la firma de convenios de cooperación con los Municipios y de esa manera articular los trabajos con las referencias jóvenes de cada rincón de la provincia.
        Estos descuentos podrán ser aprovechados por cualquier joven correntino que estudie en esta localidad como así también los jóvenes que estudien en otras ciudades, los estudiantes beneficiados estarán comprendidos entre los 15 y 30 años. En esto consiste la universalización de los beneficios, dado que cualquier joven correntino que posea esta tarjeta podrá gozar de los beneficios de toda la provincia.
    </p>
    <h3>
        COMERCIOS<strong></strong><br>
    </h3>
    <p>
        Tarjeta Verde te brinda la posibilidad de hacer llegar tus productos y ofertas a nuestros beneficiarios, quienes hoy disfrutan de las mejores propuestas de esparcimiento, salidas gastronómicas, espectáculos, cine y todos los rubros relacionados con tiempo libre en familia. Dichos productos y ofertas se comunican a través de publicaciones en el diario y en Internet, las cuales son especialmente pensadas para nuestros usuarios de manera exclusiva y atractiva, preferentemente en forma de descuento en las compras.
    </p>
    <p>
        Si sos comercio, organización y querés sumarte a la Tarjeta Verde Corrientes inscribite a través de la Página Web <a>www.tarjetaverde.com</a> Sección Comercios y completa el formulario, o bien envíanos un correo con tus datos a <a>tarjetaverdecorrientes@gmail.com</a>
</p>
</div>

