@{
    ViewBag.Title = "¿COMO FUNCIONA?";
}
<div>
    <h3>
        COMO FUNCIONA?<strong></strong><br>
    </h3>
    <p>
        La tarjeta Tekove del programa tekove poti que acerca a los tekoseguidores la manera más fácil de obtener importantes beneficios y premios en los comercios adheridos de la ciudad/provincia.
    </p>
    <h3>
        COMO USARLA?<strong></strong><br>
    </h3>
    <p>
        Elegí el beneficio y pedilo en los comercios adheridos antes de efectuar el ticket o factura del servicio solicitado.
    </p>
    <p>
        Con cada compra que realices deberás presentar tu DNI.
    </p>
    <p>
        En esta Pagina figuran todos los beneficios vigentes en toda la provincia de Corrientes.
    </p>
    <p>
        Si querés recibir información por mail, suscribite newsletter mandando un mail que diga ALTA en el asunto, tekovepoty@gmail.com
    </p>
    

    <h3>
        USUARIOS<strong></strong><br>
    </h3>
    <p>
        Con la Tarjeta Tekové Potí tendrás acceso a diferentes tipos de beneficios y descuentos en comercios, instituciones, eventos culturales, deportivos, etc.
    </p>
   
    <h3>
        COMERCIOS<strong></strong><br>
    </h3>
    <p>
        Tarjeta Tekové Potí te brinda la posibilidad de hacer llegar tus productos y ofertas a nuestros beneficiarios, quienes hoy disfrutan de las mejores propuestas de esparcimiento, salidas gastronómicas, espectáculos, cine y todos los rubros relacionados con tiempo libre en familia. Dichos productos y ofertas se comunican a través de publicaciones en el diario y en Internet, las cuales son especialmente pensadas para nuestros usuarios de manera exclusiva y atractiva, preferentemente en forma de descuento en las compras.
    </p>
    <p>
        Si sos comercio, organización y querés sumarte a la Tarjeta Tekové Potí Corrientes inscribite a través de la Página Web <a>www.tekovepoti.com.ar</a> Sección Comercios y completa el formulario, o bien envíanos un correo con tus datos a <a>tekovepoty@gmail.com</a>
	</p>
	<h3>
        BENEFICIOS<strong></strong><br>
    </h3>
	<p align="middle">
		<a><img src="http://tekovepoti.azurewebsites.net/beneficios.jpg" align="middle"></a> 
	</p>
</div>

