@{
    ViewBag.Title = "Preguntas Frecuentes";
}

<h3>Preguntas Frecuentes</h3>
<hr />

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
                <a role="button" data-toggle="collapse"  href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                    YO PUEDO USAR LOS BENEFICIOS DE LA TARJETA VERDE?
                </a>
            </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
                Si sos mayor de 15 años y sos estudiante tenes acceso a todos los beneficios, sin importar lugar de residencia, domicilio, ni lugar de nacimiento.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    COMO SE “PIDE” EL DESCUENTO?
                </a>
            </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
                “Haceme el descuento de Tarjeta Verde”. “Con la promo de Tarjeta Verde”. “Vengo con la Tarjeta Verde”. O como se te ocurra pero siempre mencionando el nombre de la tarjeta “TARJETA VERDE”.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    COMO SE SI UN LOCAL ESTA ADHERIDO?
                </a>
            </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
                Los locales cuentan identificación de Local Adherido a Tarjeta Verde (calcos, afiches o carteles).
                Si te quedan dudas consulta en mostrador.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFour">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    CON LA TARJETA VERDE ACCEDO A DESCUENTOS DE TRANSPORTES URBANOS?
                </a>
            </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <div class="panel-body">
                NO, la Tarjeta Verde no brinda descuentos en transportes urbanos. Conoce todos los descuentos y promociones de la Tarjeta Verde en la sección BENEFICIOS.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingFive">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    COMO ADHIERO MI COMERCIO AL PROGRAMA TARJETA VERDE?
                </a>
            </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
            <div class="panel-body">
                Si tenés un comercio y quieres ofrecer un descuento o promoción ingresá a la sección COMERCIOS. Allí deberás completar un formulario y nos pondremos en contacto a la brevedad.
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="headingSix">
            <h4 class="panel-title">
                <a class="collapsed" role="button" data-toggle="collapse" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    DONDE DENUNCIO PROBLEMAS CON MI TARJETA VERDE
                </a>
            </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
            <div class="panel-body">
                Comunicarse al correo <a>tarjetaverdecorrientes@gmail.com</a>
            </div>
        </div>
    </div>
</div>
<div class="spacer"></div>
<div class="spacer"></div>