@using Framework.Common.Extentensions
@using PointEx.Web.Infrastructure.Extensions
@using PointEx.Web.Models
@using PointEx.Entities.Enums
@model PointEx.Web.Models.GeolocalizationModel
@{
    ViewBag.Title = "Home Page";
}
<div class="form-horizontal">
    <div class="form-group">

    </div>
</div>
<script src="../Scripts/jquery-2.1.3.js"></script>
<div id="floating-panel">
    <form class="form-inline" id="search-nearest-benefits-form">
        <input id="address" class="form-control" type="text" style="width: 300px">
        <input id="submit" type="button" class="btn btn-primary" value="Buscar Beneficios">
    </form>
</div>
<div id="autoLocation">
    <input type="hidden" id="lat" value="-27.472245" />
    <input type="hidden" id="lon" value="-58.840182" />
    <input type="hidden" id="formatted_Address" value="Corrientes Argentina" />
</div>
<div class="spacer"></div>
<div id="map" style=" height: 400px;width:100%"></div>
<script>

    var map;
    var geocoder;
    var initialLocation;

    $(function () {
        var input = document.getElementById('address');

        var autocomplete = new google.maps.places.Autocomplete(input);

        $('#search-nearest-benefits-form').submit(function () {
            geocodeAddress();
            return false;
        });
    });

    function positionError(position) {
        switch (position.code) {
            case 0:
                alert("Ha ocurrido un error inesperado.");
                break;
            case 1:
                alert("No se ha dado permiso para acceder a su ubicacion. Verifique la configuracion de su navegador.");
                break;
            case 2:
                alert("No se ha podido establecer su ubicacion.");
                break;
            case 3:
                alert("El tiempo para obtener su ubicacion a expirado.");
                break;
            default:
                break;
        }

        geocodeDefault();
    }

    function showPosition(position) {
        $('#floating-panel').hide();
        $('#autoLocation').hide();

        $('#lat').val(position.coords.latitude);
        $('#lon').val(position.coords.longitude);
        initialLocation = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);
        map.setCenter(initialLocation);

        var marker = new google.maps.Marker({
            map: map,
            position: initialLocation
        });

        getNearestBenfits(position.coords.latitude, position.coords.longitude);
    }

    function getNearestBenfits(latitude, longitude) {
        $.ajax({
            type: "GET",
            url: '/Home/NearestBenefits',
            data: { latitude: latitude, longitude: longitude, distance: 1000 },
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        }).done(function (benefits) {

            //add a marker for each benefit
            for (var i = 0; i < benefits.length; i++) {
                var benefit = benefits[i];

                var benefitLocation = new google.maps.LatLng(benefit.latitude, benefit.longitude);

                var contentTemplate = _.template('<div id="content">' +
                    '<div id="siteNotice">' +
                    '</div>' +
                    '<h1 id="firstHeading" class="firstHeading"><%= shopName %></h1>' +
                    '<div id="bodyContent">' +
                    '<p><%= benefitDescription %></p>' +
                    '<p><a href="<%= benefitDetailsUrl %>">' +
                    'Ir al detalle ' +
                    '</p>' +
                    '</div>' +
                    "</div>");

                var contentHtml = contentTemplate(benefit);

                var infowindow = new google.maps.InfoWindow({
                    content: contentHtml,
                    maxWidth: 200
                });

                var marker = new google.maps.Marker({
                    map: map,
                    position: benefitLocation,
                    title: benefit.shopName,
                    infowindow: infowindow
                });

                marker.addListener('click', function (e) {
                    var markerInfoWindow = this.infowindow;
                    if (markerInfoWindow) {
                        markerInfoWindow.open(map, this);
                    }
                });
            }
        });
    }

    function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
            zoom: 14,
            center: { lat: 0, lng: 0 },
            mapTypeId: google.maps.MapTypeId.ROADMAP
        });

        geocoder = new google.maps.Geocoder();

        if (navigator.geolocation) {
            var options = {
                enabledHighAccuracy: true,
                timeout: 20000,
                maximumAge: 2000
            }
            navigator.geolocation.getCurrentPosition(showPosition, positionError, options);
        } else {
            alert("La localizacion esta deshabilitada. Si desea utilizar su ubicacion actual, habilite la geolocalizacion en su navegador o ingrese su direccion actual en el campo de busqueda y haga click en buscar");
            //geocodeDefault();
        }
    }

    function geocodeDefault() {
        var address = document.getElementById('formatted_Address').value;
        geocoder.geocode({ 'address': address }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });
            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function geocodeAddress() {
        var address = document.getElementById('address').value;
        var postfijo = document.getElementById('formatted_Address').value;
        geocoder.geocode({ 'address': address + ' ' + postfijo }, function (results, status) {
            if (status === google.maps.GeocoderStatus.OK) {
                map.setCenter(results[0].geometry.location);
                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });

                getNearestBenfits(results[0].geometry.location.lat(), results[0].geometry.location.lng());
            }
        });
    }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCM0M-scUFxCaYqfphdSk-pEomD-W9Oyf4&signed_in=true&callback=initMap&libraries=places" async defer></script>