@{
    ViewBag.Title = "Bases y Condiciones";
}

<h3>Bases y Condiciones</h3>
<hr />

<div>
    <p>
        La tarjeta verde dará acceso a diferentes tipos de beneficios y descuentos en comercios, instituciones, eventos culturales, deportivos, etc. Los mismos serán anunciados en cada oportunidad, y su otorgamiento quedará supeditado a las diferentes opciones de Suscripción que se establecen a continuación. Las mismas son de exclusiva adjudicación de la Dirección de Juventud del Ministerio de Desarrollo Social e Igualdad del Gobierno Provincial de Corrientes.
    </p>
    <br>


    <h3>
        1- Suscripción:<strong></strong><br>
    </h3>
    <p>
        La tarjeta verde es exclusiva para jóvenes estudiantes mayores de 15 años de la Provincia de Corrientes. Los mismos deberán  ingresar sus datos en un formulario digital en la página web el cual será controlado por la Dirección de Juventud para su aprobación y alta correspondiente.
    </p>
    <h3>
        2- Operatividad de la tarjeta:<br>
    </h3>
    <p>
        2.1- Las tarjetas referenciadas, son para la identificación del titular, y contienen los datos personales y un código de barras que los habilita a operar en las terminales de puntos de venta ubicados en los establecimientos adheridos a esta tarjeta y permitirá registrar la utilización de los beneficios por parte del titular. En la compra que se realice en el establecimiento adherido obtendrán puntos, por cada $1 de compra sumará 1 (un) punto, los cuales serán canjeables por premios. Teniendo un límite de suma de 100 puntos por mes. El canje de los premios se retirara en el comercio o en la Dirección de Juventud.
    </p>
    <p>
        2.2-Las tarjetas son personales e intransferibles y sólo podrán ser utilizadas por la persona a cuyo nombre estén extendidas.
    </p>
    <p>
        2.3-Las tarjetas serán entregadas en dentro de los treinta (30) días de haberse el titular suscripto a los mismos.
    </p>
    <h3>
        3-Vencimiento:<br>
    </h3>
    <p>
        3.1-Las tarjetas tienen fecha de vencimiento, por lo cual se mantendrán vigentes durante el plazo de 2 (dos) años de realizada la suscripción del titular.
    </p>
    <p>
        3.2-Las tarjetas no son tarjetas de crédito, ni de compra, ni de débito, no sirven como medio de pago y son de exclusiva propiedad de la Dirección de Juventud.
    </p>
    <p>
        3.3-La Dirección de Juventud se reserva el derecho de solicitar la devolución de las tarjetas o la baja de las mismas cuando, a su sólo criterio, se haga un uso indebido o inconveniente de las mismas. Asimismo, se reserva el derecho de solicitar la devolución de las tarjetas o baja de las mismas por cualquier otro motivo que perjudique el normal desarrollo del programa.
    </p>
    <p>
        3.4-Se considerarán tarjetas ilegalmente obtenidas a las que lo sean por cualquier medio o procedimiento no autorizado por la Dirección de Juventud. Estas quedarán fuera del programa y no gozarán de los beneficios que el mismo brinda a las tarjetas autorizadas. La Dirección de Juventud se reserva el derecho de iniciar las acciones legales que correspondan contra cualquier persona que intente un uso fraudulento o indebido de una tarjeta.
    </p>
    <h3>
        4-BENEFICIOS:<br>
    </h3>
    <p>
        4.1-El titular podrá acceder a beneficios en la compra de productos y servicios en los establecimientos adheridos a este programa los que serán anunciados en cada oportunidad de forma actualizada  en el sitio web, y estarán sujetos a disponibilidad y vencimiento.
    </p>
    <p>
        4.2-Los beneficios serán otorgados al titular, exclusivamente por los propietarios de los establecimientos adheridos, al momento de la adquisición de un bien en dicho establecimiento. Los beneficios consisten en la suma de puntos, será de 1 punto por cada $1 vendido por los establecimientos adheridos, los cuales serán informados oportunamente por medio del Sitio y por cualquier otro medio que la Dirección de Juventud  considere adecuado. 
    </p>
    <p>
        4.3-Se establecerá el límite de suma de puntos disponibles, el cual será de 100 (cien) puntos mensuales como máximo, para utilizar el beneficio de canje  por parte de los titulares, comunicándose a los mismos el stock disponible en cada ocasión. En consecuencia, la Dirección de Juventud, no se responsabiliza por el efectivo uso, la mala utilización o la imposibilidad de utilización sobreviviente de los beneficios. 
    </p>
    <p>
        4.4-En ningún caso y bajo ninguna circunstancia estará permitido canjear beneficios “puntos” por dinero en efectivo. 
    </p>
    <p>
        4.5- El canje de los premios se retirara en el comercio adherido o en la Dirección de Juventud.
    </p>
    <p>
        4.6-Caducidad de los puntos: los mismos tienen validez hasta 4 (cuatro) meses, pasado este plazo automáticamente caducarán.
    </p>
    <h3>
        5-MODO DE USO DE LAS TARJETAS Y ACCESO A LOS BENEFICIOS:<br>
    </h3>
    <p>
        5.1-El titular podrá acceder a los beneficios con la exhibición de la tarjeta  al momento de efectuar una compra en los establecimientos adheridos, junto con la exhibición de la cédula de identidad o el documento nacional de identidad. El acceso al beneficio es aplicable según cual  fuera la forma de pago admitida por el establecimiento adherido. 
    </p>
    <p>
        5.2-El titular sólo podrá obtener el beneficio otorgado por cada establecimiento adherido si presentan la tarjeta antes de la emisión de la factura correspondiente por parte del establecimiento adherido por el bien adquirido. 
    </p>
    <p>
        5.3-Los beneficios no podrán ser transferidos por el titular a terceros, ni a otro socio.
    </p>
    <h3>
        6-PROMOCIONES Y SORTEOS. ACCIONES PUBLICITARIAS:<br>
    </h3>
    <p>
        6.1-En forma directa o a través de terceros la Dirección de Juventud, con la frecuencia que establezca a su exclusivo criterio, podrá realizar promociones y sorteos de bienes y/o servicios, de conformidad con las bases y condiciones que se determinen en cada oportunidad.
    </p>
    <p>
        6.2-En las promociones y sorteos, no podrán participar empleados y contratados directos de la Dirección de Juventud, así como tampoco sus familiares, parientes por consanguinidad o afinidad en segundo grado.
    </p>
    <p>
        6.3-Adicionalmente, la Dirección de Juventud podrá emprender acciones publicitarias y promocionales con terceras personas ajenas o no al programa, a fin de acercarles titular diversa información, ofertas y beneficios que pueden resultar de su interés.
    </p>
    <p>
        6.4-En caso de entrega de beneficios por parte del presente programa, los mismos estarán sujetos a la disponibilidad del stock que se establecerá en cada caso. Ninguno de los beneficios podrá ser canjeado por dinero en efectivo.
    </p>
    <h3>
        7- CANCELACION:<br>
    </h3>
    <p>
        7.1-La Dirección de Juventud podrá cancelar o finalizar cualquier adhesión al programa sin aviso previo, y sin que ello genere derecho a reclamo o indemnización alguna a favor del titular , en los supuestos que se detallan a continuación: a) si no cumpliera con cualquiera de los términos y condiciones; b) si abusare de cualquier privilegio concedido bajo el presente programa; c) si proveyera cualquier información falsa a la Dirección de Juventud o cualquier establecimiento adherido; d) si pretendiese vender a terceros los beneficios obtenidos u obtuviere beneficios de manera indebida, contrariando los presentes términos y condiciones.
    </p>
    <p>
        7.2-La Dirección de Juventud podrá terminar el programa en cualquier momento, notificando dicha decisión con un mínimo de treinta (30) días de anticipación a la fecha de terminación  a través del envió de un email a la dirección de correo electrónico y/o por medio de una comunicación al domicilio que el  titular haya establecido al momento de adherirse al programa y/o que haya modificado con posterioridad  y conste en el registro de Socios de la base de datos del programa, y/o por cualquier medio masivo de comunicación. La notificación al socio titular del término del programa, será extensiva y válida para los socios adicionales.
    </p>
    <p>
        7.3-Finalizada la adhesión al programa por cualquier causa, la información relativa al titular existente permanecerá en la base de datos de la Dirección de Juventud.
    </p>
    <h3>
        8-RECLAMOS:<br>
    </h3>
    <p>
        8.1-Los Suscriptores adheridos al programa podrán efectuar cualquier reclamo relacionado con la suscripción y con el programa, llamando al teléfono 3794-404133, ingresando en la página web o bien dirigirte a la Dirección de Juventud ubicado en Murcia 59 - Barrio Apipe, dentro del plazo de noventa (90) días corridos, de ocurrida la causa que motivo el mismo. 
    </p>
    <p>
        8.2-Sin perjuicio de no existir responsabilidad alguna de la Dirección de Juventud  por el otorgamiento de los beneficios por parte de los establecimientos adheridos, frente al supuesto que el reclamo tuviese como causa la falta de otorgamiento de algún beneficio por medio de dichos establecimientos adheridos, el  Titular podrá efectuar el reclamo correspondiente llamando al 3794-404133 o ingresando en la página web, deberá brindar en el plazo fijado de 15 (quince) días  precedente, la información referente a la operación (ya sea transacción, compra de bienes o servicios, etc.) que generó dicho reclamo, a fin de ser comunicado por la Dirección de Juventud a los establecimientos adheridos para que tomen las medidas correspondientes.
    </p>
</div>
<div class="spacer"></div>
<div class="spacer"></div>