@using Framework.Common.Extentensions
@using PointEx.Security
@using PointEx.Web.Infrastructure.Extensions
@using PointEx.Web.Models
@model PointEx.Entities.Prize
@{
    ViewBag.Title = Model.Name;
}

<div class="row">
    <div class="alert alert-success" role="alert">
        <span class="glyphicon glyphicon-ok"></span> El canje se ha realizado con exito. Revise su correo electronico
        para obtener detalles de como obtener el premio. Muchas gracias.
    </div>
</div>