@using Framework.Common.Web.Metadata
@using Microsoft.Web.Mvc
@model PointEx.Entities.File

@if (Model != null)
{
    var currentFileUrl = Url.Action("Image", "File", new {area = "", id = Model.Id, width = 280, heigh = 160});
    @Html.Image(currentFileUrl)
}
else
{
    <p>No se ha especificado una imagen</p>
}

