@using Framework.Report
@model PointEx.Web.Areas.Shop.Models.Reports.ShopReportFiltersModel
@{
    ViewBag.Title = "Reporte de Beneficios Usados";
}

@section banner{
    <img src="/Content/images/banner-reportes.jpg" width="100%" alt="Beneficios" /><br /><br />
}

<h3>Beneficios Usados</h3>

<div>
    @Html.Partial("_DownloadButtons")

    @Html.FilterButton()
</div>

<div class="spacer">
</div>

@Html.Partial("_Filters")

@Html.Partial("_ReportBox")