@model PointEx.Web.Models.CreateCardForm

@{
    ViewBag.Title = "Crear Tarjeta";
}

<h3>Crear Tarjeta</h3>
@Html.BackButton("Cards", "Beneficiary", new { area = "Admin", id = Model.BeneficiaryId })
<hr />
@using (Html.BeginForm("CreateCard", "Beneficiary", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.EditorForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Crear Tarjeta" class="btn btn-default" />
        </div>
    </div>
}