@model PointEx.Web.Models.SliderImageForm

@{
    ViewBag.Title = "Detalle de Imágen";
}

<h3>Detalle de Imágen</h3>
@Html.BackButton("Index", "SliderImage", "Admin")
<hr />
<div class="form-horizontal">
    @Html.DisplayForModel()
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            @using (Html.BeginForm("Delete", "SliderImage", new { id = Model.Id }, FormMethod.Post, new { id = "delete-form" }))
            {
                @Html.AntiForgeryToken()
                @Html.ActionLink("Editar Imágen", "Edit", "SliderImage", routeValues: new { area = "Admin", Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
                <button type="submit" class="btn btn-warning">Eliminar Imágen</button>
            }
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $(function () {
            $("#delete-form").on("submit", function () {
                return confirm("Esta seguro que desea eliminar esta imágen?  Esta operacion no se puede deshacer.");
            });
        });
    </script>
}
