@using Microsoft.AspNet.Identity
@using Framework.Common.Web.Extensions;
@using PointEx.Security
@using PointEx.Service;
@using PointEx.Web.Configuration
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", new { area = "" }, FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            <li>
                @if (this.User.IsInRole(RolesNames.Shop))
                {
                    @Html.ActionLink(this.CurrentUser().Shop.Name.ToUpper(), "Detail", "Shop", routeValues: new { area = "Admin", id = this.CurrentUser().Shop.Id }, htmlAttributes: new { title = "Perfil" })
                }
            </li>
            <li style="height: 50px">
                @if (!this.User.IsInRole(RolesNames.Shop))
                {
                    <span class="float-left margin-top-15 white">@User.Identity.GetUserName()</span>
                }
                @if (PointEx.Web.Helpers.UrlHelper.IsInPublicSection())
                {
                    <a href="/Home/RedirectToDefault" style="float: left; margin-right: 10px;" title="Perfil">(Entrar)</a>
                }

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()"><strong>Salir</strong></a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Ingresar", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
