<script type="text/javascript">
    function hideLoading() {
        document.getElementById('div-loading').style.display = "none";
        document.getElementById('report-iframe').style.display = "block";
    }
</script>

<div id="div-loading" class="text-center" style="margin-top: 100px">
    <img src="~/Content/images/loading100X100.gif" alt="" />
</div>
